<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
            <div style="color: white; background-color:rgb(14, 20, 15, 0.7)"class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Add new route</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="newSimpleRoute" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label><span class="material-icons">drive_file_rename_outline</span> Name</label>
                                <input type="text" formControlName="name" class="form-control" />
                            </div>
                            <div class="col-xs-6">
                                <label><span class="material-icons">stacked_bar_chart</span> Distance</label>
                                <input type="number" formControlName="distance" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label><span class="material-icons">place</span> Start</label>
                                <input type="text" formControlName="startCity" class="form-control" />
                            </div>
                            <div class="col-xs-6">
                                <label><span class="material-icons">not_listed_location</span> Destination</label>
                                <input type="text" formControlName="destinationCity" class="form-control" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label><span class="material-icons">directions</span> Destination direction</label>
                                <select formControlName="direction" class="form-control">
                                    <option value="180">North</option>
                                    <option value="0">South</option>
                                    <option value="90">West</option>
                                    <option value="270">East</option>
                                    <option value="135">North-West</option>
                                    <option value="225">North-East</option>
                                    <option value="45">South-West</option>
                                    <option value="315">South-East</option>
                                </select>
                            </div>
                        </div>
                        
                        <span style="font-size: 35px; cursor:pointer;" class="material-icons" (click)="onSubmit()">send</span>
                        <!-- <button style="color: rgb(14, 20, 15, 0.7); background-color:white" type="submit" [disabled]="!newSimpleRoute.valid" class="btn">Add</button> -->
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
