<div class="container" style="background-color: rgb(14, 20, 15, 0.85); border-radius: 10px; max-width: 80%;">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h1 style="position: relative; text-align:center; color:white">App which every cyclist would love</h1>
        </div>
        <div class="col-xs-12 col-sm-5" style="color:white">
            <hr>
            <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                <p>{{ error }}</p>
            </div>
            <form [formGroup]="loginData" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
                <div class="form-group">
                    <label>Email</label>
                    <input style="font-size:16px" type="email" formControlName="email" class="form-control"/>
                    <!-- <span class="help-block" *ngIf="!dailyDistance.get('date').valid && dailyDistance.get('date').touched">Please select valid date!</span> -->
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input style="font-size:16px" type="password" formControlName="password" class="form-control" minlength="8"  />
                    <!-- <span class="help-block" *ngIf="!dailyDistance.get('distance').valid && dailyDistance.get('distance').touched">Please enter valid distance!</span> -->
                </div>
              <button type="submit" mat-stroked-button style="color: white;" [disabled]="!loginData.valid">{{ loginMode ? 'Log in' : 'Sign in' }}</button>
              <div>
                  <a (click)="onSwitchMode()" style="cursor:pointer; font-size:20px">{{ loginMode ? 'Click here to create account' : 'Click here to log in' }}</a>
                <p class="help-block">Test me! email: test@test.test</p>
                <p class="help-block">password: test@test</p>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-7 " style="color:white;">
            <hr>
            <h4><span class="material-icons">handyman</span> Monitoring gears usage</h4>
            <h4><span class="material-icons">stacked_bar_chart</span> Storing daily distance</h4>
            <h4><span class="material-icons">alt_route</span> Choosing route due to wind speed and direction</h4>
            <h4><span class="material-icons">alt_route</span> Checking weather forecast</h4>
            <h4><span class="material-icons">directions_bike</span> Integration with Strava</h4>                
        </div>
    </div>
</div>
