
<!-- (click)="delete(i)" -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <app-alert-model (close)="closed()" (delete)="delete()" *ngIf="alertClosed && deletingAllow" [message]="('Are you sure that you want to delete your hard work!?')"></app-alert-model>
      <ul class="list-group">
          <app-kilometers-clicked
          style="cursor: pointer"
          *ngFor="let distance of kilometers; let i=index"
          [index]="i"
          [distance]="distance"
          (click)="openAlert(i)"
          >
        </app-kilometers-clicked>
      </ul>
      <h3 [@list] *ngIf="kilometers.length === 0" style="color: white;">Click Add distance!</h3>
    </div>
  </div>
</div> 

<div class="container" [@list]>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <button class="add-button" mat-stroked-button style="color: white; background-color:rgb(14, 20, 15, 0.7)" (click) = "show()">Add distance</button>
    <button mat-stroked-button style="color: white; background-color:rgb(14, 20, 15, 0.7)" (click)="activeDeleting()">Delete</button>
    <div *ngIf="deletingAllow" class="help-block">Click position to delete it!</div>
    </div>
  </div>
</div>



<div style="color: white; background-color:rgb(14, 20, 15, 0.7)"[style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div style="color: white; background-color:rgb(14, 20, 15, 0.7)"class="modal-dialog" >
    <div style="color: white; background-color:rgb(14, 20, 15, 0.7)"class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Report daily distance</h4>
      </div>
      <div class="modal-body">
          <form [formGroup]="dailyDistance" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label>Date</label>
                  <input style="font-size:16px" type="date" formControlName="date" class="form-control"/>
                  <span class="help-block" *ngIf="!dailyDistance.get('date').valid && dailyDistance.get('date').touched">Please select valid date!</span>
              </div>
              <div class="form-group">
                  <label>Distance</label>
                  <input style="font-size:16px" type="number" formControlName="distance" class="form-control" />
                  <span class="help-block" *ngIf="!dailyDistance.get('distance').valid && dailyDistance.get('distance').touched">Please enter valid distance!</span>
              </div>
            <button style="color: rgb(14, 20, 15, 0.7); background-color:white" type="submit" class="btn btn-outline-dark" [disabled]="!dailyDistance.valid">Report</button>
          </form>
      </div>
      <div class="modal-footer">
          <button style="color: rgb(14, 20, 15, 0.7); background-color:white" type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "hide()">Close</button>
      </div>
    </div>
  </div>
</div>
