<mat-sidenav-container class="sidenav-container"
style="
      background-image: url('https://rondo.cc/images/galerie/210-1414.jpg');
      height: 100%;
      background-size: cover;">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="background-color:rgb(4, 71, 13);color: white;"> Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active"  *ngIf="(isHandset$ | async) === false" [disabled]="!logged" routerLink="/home">Home</a>
      <a mat-list-item routerLinkActive="active"  *ngIf="(isHandset$ | async) === false" [disabled]="!logged" routerLink="/gears">Edit my gears</a>
      <a mat-list-item routerLinkActive="active"  *ngIf="(isHandset$ | async) === false" [disabled]="!logged"routerLink="/kilometers">Edit my kilometers</a>
      <a mat-list-item routerLinkActive="active"  *ngIf="(isHandset$ | async) === true" (click)="drawer.toggle()" [disabled]="!logged" routerLink="/home">Home</a>
      <a mat-list-item routerLinkActive="active"  *ngIf="(isHandset$ | async) === true" (click)="drawer.toggle()" [disabled]="!logged" routerLink="/gears">Edit my gears</a>
      <a mat-list-item routerLinkActive="active"  *ngIf="(isHandset$ | async) === true" (click)="drawer.toggle()" [disabled]="!logged"routerLink="/kilometers">Edit my kilometers</a>
      <a class="absolutePos" mat-list-item (click)="logOut()" style="cursor: pointer;" *ngIf="logged && ((isHandset$ | async) ===true)" (click)="drawer.toggle()">Log out</a>
      <a class="absolutePos" mat-list-item (click)="logOut()" style="cursor: pointer;" *ngIf="logged && ((isHandset$ | async) ===false) ">Log out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: rgb(4, 78, 14); color: white;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>bajla</span>
      
    </mat-toolbar>
    <ng-content></ng-content>


  </mat-sidenav-content>
</mat-sidenav-container>
