<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" [@list]>

  <!-- Position Column -->
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Months of ride</th>
    <td mat-cell *matCellDef="let element"> {{element.date | date:'MMMM y'}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Distance </th>
    <td mat-cell *matCellDef="let element"> {{element.amount}} km </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

